/* Body */
body {
  overflow-x: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.7rem !important;
}

/* Navbar */
.nav-link {
  margin: 5px !important;
  font-size: 18px;
  font-weight: 500;
  color: black !important;
}

.navbar {
  background-color: white !important;
  font-size: 15px !important;
  box-shadow: rgb(220, 220, 220) 0px 2px 10px;
  z-index: 100000;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  position: sticky;
  top: 0;
}

.logo1 {
  padding: 0;
  width: 220px;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: white !important;
  color: #ff696a;
}

.nav-other-items:hover {
  color: #ff696a !important;
}

.navbar.scrolled {
  height: 70px !important;
  font-size: 15px !important;
  width: auto;
  z-index: 11;
  transition: font-size 0.5s;
}

.nav-item,
.navbar-toggler,
.collapse {
  background-color: white !important;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none !important;
  border-radius: 0 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.hamburger_nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
}

button:focus,
.hamburger_nav:focus {
  outline: none !important;
}

#nav-mhweb-hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px 0px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-mhweb-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-mhweb-hamburger.open span {
  margin-left: 3px;
  margin-top: -4px;
}

#nav-mhweb-hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-mhweb-hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-mhweb-hamburger span:nth-child(1),
#nav-mhweb-hamburger span:nth-child(2) {
  top: 0px;
}

#nav-mhweb-hamburger span:nth-child(3),
#nav-mhweb-hamburger span:nth-child(4) {
  top: 10px;
}

#nav-mhweb-hamburger span:nth-child(5),
#nav-mhweb-hamburger span:nth-child(6) {
  top: 20px;
}

#nav-mhweb-hamburger.open span:nth-child(1),
#nav-mhweb-hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-mhweb-hamburger.open span:nth-child(2),
#nav-mhweb-hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-mhweb-hamburger.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-mhweb-hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

.dropdown:active {
  color: #ff696a;
}

.drop-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 10px;
}

.dropdown-menu .dropdown-item {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
}

/* End of navbar*/

.main_header {
  width: 100%;
}

.rightside h1 {
  font-size: 3rem !important;
}

.nowrap {
  white-space: nowrap;
}

.corona_rot2 {
  letter-spacing: -5px;
}

.corona_rot img {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  color: white;
  opacity: 80%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: white;
}

.headco {
  color: red;
}

.col-8 p {
  font-size: 15px;
  line-height: 1.5rem !important;
}

.profile {
  border-radius: 50%;
}

a {
  text-decoration: none !important;
}

.phno {
  color: black !important;
}

.phno:hover {
  color: rgb(255, 0, 0) !important;
}

#myInput {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  outline: none;
  height: 50px;
  background-color: rgb(48, 48, 48);
  color: white;
  padding-left: 10px;
}

.form-control {
  outline: none;
  border: none;
  margin-bottom: 50px;
}

::placeholder {
  color: rgb(201, 201, 201);
}

.the {
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
  position: sticky !important;
  top: 0 !important;
  background-color: white;

  -webkit-transition: background 2s;
  /* For Safari 3.1 to 6.0 */
  transition: background 2s;
}

.then {
  background-color: rgb(220, 220, 220);

  color: rgb(0, 0, 0);
  position: sticky !important;
  top: 91.48px !important;
  transition: top 0.5s ease;
  z-index: 10000;
}

table {
  table-layout: fixed;
  border-collapse: separate !important;
  width: 100%;
}

td {
  font-weight: 600;
  color: rgb(53, 53, 53);
}

@media screen and (max-width: 768px) {
  .cor1 {
    width: 50%;
  }

  .rightside h1 {
    font-size: 6vw !important;
  }

  .divv {
    margin-top: 50px;
  }

  th {
    font-size: 14px;
  }

  td {
    font-size: 15px;
  }
}

@media screen and (max-width: 668px) {
  th {
    font-size: 12px;
  }

  td {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  th {
    font-size: 10px;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  td {
    font-size: 13px;
  }
}

@media screen and (max-width: 460px) {
  th {
    font-size: 9px;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }

  td {
    font-size: 12px;
  }
}

.navbar {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 990px) {
  .social {
    text-align: center;
  }
}
